.ad-diapers {
  position: relative;
  padding-right: 58px;
  padding-left: 58px;
  background: linear-gradient(to bottom, rgba(247, 252, 255, 1) 0%, rgba(247, 252, 255, 0.7) 51%, rgba(247, 252, 255, 0) 53%);
}

.ad-diapers__shares {
  position: absolute;
  left: -83px;
  top: 50%;
  margin-top: -11px;
  padding: 0 12px;
  box-shadow: 0 1px 13px rgba(178, 190, 211, 0.58);
  border-radius: 6px;
  font: 700 16px/24px 'Houschka Rounded Bold';
  background-image: linear-gradient(20deg, #0038af 0%, #008aff 100%);
  -webkit-background-clip: text;
  color: transparent;
  vertical-align: middle;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  transform: translate(40px, 60px) rotate(-25deg);
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -7px;
    border: 4px solid transparent;
    border-left: 4px solid #fff;
  }
}

.ad-diapers__slide {
  position: relative;
  @include container;
  padding-top: 120px;

  display: flex;
}

.ad-diapers__info {
  position: relative;
  max-width: 560px;
  flex: none;
  h1 {
    position: relative;
    font-family: 'Houschka Rounded Bold';
    color: #0038af;
    font-size: 57px;
    font-weight: 700;
    z-index: 1;
  }
}

@supports (-webkit-background-clip: text) {
  .ad-diapers__info {
    h1 {
      background-image: linear-gradient(20deg, #0038af 0%, #008aff 100%);
      -webkit-background-clip: text;
      color: transparent;
    }
  }
}

.ad-diapers__text {
  max-width: 380px;
  p {
    margin-bottom: 47px;
    color: #637aa8;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.ad-diapers__more {
  position: relative;
  padding-right: 32px;
  padding-left: 32px;
  font-size: 16px;
  box-shadow: 0 2px 0 rgba(49, 130, 5, 0.7), inset 0 2px 0 rgba(161, 255, 0, 0.4);
  z-index: 1;
  &:hover {
    box-shadow: 0 3px 0 rgba(49, 130, 5, 0.7), inset 0 4px 0 rgba(161, 255, 0, 0.4);
  }
}

.ad-diapers__moon {
  position: absolute;
  right: 60px;
  top: -20px;
  bottom: 0;
  width: 339px;
  height: 324px;
  opacity: 0.6;
  transform: rotate(-140deg);
  img {
    height: 100%;
  }
}

.ad-diapers__child {
  position: relative;
  margin-top: -50px;
  margin-bottom: 60px;
  padding-top: 70px;
  padding-bottom: 80px;
  img {
    height: 100%;
    width: 100%;
  }
}

.ad-diapers__cloud {
  position: absolute;
  &--top {
    top: 0;
    right: 4%;
    p {
      max-width: 127px;
    }
  }
  &--middle {
    top: 50%;
    transform: translateY(-50%);
    p {
      max-width: 160px;
    }
  }
  &--bottom {
    bottom: 0;
    right: 4%;
    p {
      max-width: 175px;
    }
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #637aa8;
    font: 700 17px/1.1 "SegoePrint";
    text-align: center;
  }
}

.ad-diapers__aircraft {
  position: absolute;
  bottom: 112px;
  left: 78px;
  animation: flight 2.5s ease-out;
  z-index: 2;
}

@keyframes flight {
  0% {
    opacity: 0;
    transform: translateX(700%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);

  }
}

@media (max-width: 1170px) {
  .ad-diapers__aircraft {
    bottom: 0;
    left: 20px;
  }
  .ad-diapers__cloud {
    max-width: 230px;
  }
  .ad-diapers__cloud p {
    font-size: 11px;
  }
}

@media (max-width: 1024px) {
  .ad-diapers {
    position: static !important;
    top: auto !important;
    padding-right: 23px;
    padding-left: 23px;
    background-image: linear-gradient(to bottom, #f7fcff 0%, rgba(247, 252, 255, 0.7) 91%, rgba(247, 252, 255, 0) 100%);
  }
.clone-ad-diapers {
  height: auto !important;
}
  .ad-diapers__slide {
    flex-direction: column;
    padding-top: 30px;
    top: auto !important;
    opacity: 1 !important;
  }
  .ad-diapers__info {
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
    h1 {
      font-size: 40px;
    }
  }
  .ad-diapers__text {
    max-width: 100%;
    p {
      font-size: 16px;
      margin-bottom: 17px;
    }
  }
  .ad-diapers__moon {
    right: 0;
    top: 0;
    width: 200px;
    height: 200px;
  }
  .ad-diapers__more {
    font-size: 13px;
  }
  .ad-diapers__child {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 60px;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .ad-diapers__cloud {
    display: none;
  }
  .ad-diapers__aircraft {
    display: none;
  }
  .ad-diapers__info {
    h1 {
      font-size: 30px;
    }
  }
  .ad-diapers__shares {
    background-image: none;
    background-color: #fff;
    color: #003fff;
    -webkit-background-clip: inherit;
  }
}

@media (max-width: 425px) {
  .ad-diapers__info {
    margin-bottom: 30px;
  }
}