.ad-diapers {
  padding-top: 120px;
  background: linear-gradient(to bottom, rgba(247,252,255,1) 0%,rgba(247,252,255,0.7) 51%,rgba(247,252,255,0) 53%);
}
.ad-diapers__arrow {
  position: absolute;
  width: 116px;
  height: 116px;
  top: 50%;
  margin-top: -58px;
  background-color: #e8f4fd;
  border: none;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
  transition: all .35s ease-out;
  border-radius: 50%;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 23px;
    margin-top: -11px;
    background-repeat: no-repeat;
    transition: all .35s ease-out;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #cbecff;
    border-radius: 50%;
    transform: scale(0);
    transition: all .15s ease-out;
  }
  &--prev {
    left: -58px;
    &::before {
      margin-left: 10px;
      background-image: url(./../img/icon/arrow-back.svg);
      transform: rotate(-180deg);
    }
  }
  &--next {
    right: -58px;
    &::before {
      margin-left: -20px;
      background-image: url(./../img/icon/arrow-back.svg);
    }
  }
  &:hover {
    &::before {
      margin-right: 10px;
      background-image: url(./../img/icon/arrow-back-hover.svg);
    }
    &::after {
      transform: scale(1);
    }
  }
  &:hover {
    .ad-diapers__shares {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
}

.ad-diapers__shares {
  position: absolute;
  left: -83px;
  top: 50%;
  margin-top: -11px;
  padding: 0 12px;
  box-shadow: 0 1px 13px rgba(178, 190, 211, 0.58);
  border-radius: 6px;
  font: 700 16px/24px 'Houschka Rounded Bold';
  background-image: linear-gradient(20deg, #0038af 0%, #008aff 100%);
  -webkit-background-clip: text;
  color: transparent;
  vertical-align: middle;
  transition: all 0.2s;
  visibility: hidden;
  opacity: 0;
  transform: translate(40px, 60px) rotate(-25deg);
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: -7px;
    border: 4px solid transparent;
    border-left: 4px solid #fff;
  }
}

.ad-diapers__slide {
  position: relative;
  @include container;
  display: flex;
}

.ad-diapers__info {
  position: relative;
  max-width: 560px;
 flex: none;
  h1 {
    position: relative;
    font-family: 'Houschka Rounded Bold';
    background-image: linear-gradient(20deg, #0038af 0%, #008aff 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 57px;
    font-weight: 700;
    z-index: 1;
  }
}

.ad-diapers__text {
  margin-bottom: 47px;
  max-width: 380px;
  p {
    color: #637aa8;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
  }
}

.ad-diapers__more {
  position:relative;
  padding-right: 32px;
  padding-left: 32px;
  font-size: 16px;
  box-shadow: 0 2px 0 rgba(49, 130, 5, 0.7), inset 0 2px 0 rgba(161, 255, 0, 0.4);
  z-index: 1;
  &:hover {
    box-shadow: 0 3px 0 rgba(49, 130, 5, 0.7), inset 0 4px 0 rgba(161, 255, 0, 0.4);
    svg {
      fill: #0038af;
      transform: translateX(10px);

    }
  }
}
.ad-diapers__icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: text-top;
  svg {
    fill: #fff;
    transition: all .35s;
    transform: none;

  }
}
.ad-diapers__moon {
  position: absolute;
  right: 60px;
  top: -20px;
  bottom: 0;
  width: 339px;
  height: 324px;
  opacity: 0.6;
  transform: rotate(-140deg);
}
.ad-diapers__child {
  position:relative;
  margin-top: -50px;
  margin-bottom: 60px;
}
.ad-diapers__cloud {
  position: absolute;
  &--top {
    top: 0;
    right: 37px;
    p {
      max-width: 127px;
    }
  }
  &--middle {
    top: 50%;
    transform: translateY(-50%);
    p {
      max-width: 160px;
    }
  }
  &--bottom {
    bottom: 0;
    right: 37px;
    p {
      max-width: 175px;
    }
  }
  p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    z-index: 1;
    color: #637aa8;
    font: 700 17px/1.1 "SegoePrint";
    text-align: center;
  }
}
.ad-diapers__img {
  img {
    height: 100%;
    width: 100%;
  }
}
.ad-diapers__aircraft {
  position: absolute;
  bottom: 112px;
  left: 78px;
  animation: flight 2.5s ease-out;
  z-index: 2;
}
@keyframes flight {
  0% {
    opacity: 0;
    transform: translateX(700%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);

  }
}