.partners {
  position:relative;
  padding-top: 67px;
  padding-bottom: 96px;
  background-color:#fff;
  text-align: center;
  z-index: 10;
  h2 {
    margin-bottom: 32px;
  }
}
.partners__inner {
  @include container;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.partners__btn {
  max-width: 220px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  font-size: 16px;
}
.partners__item {
  margin-right: 20px;
  font-size: 0;
  text-align: center;
  &:last-child {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .partners {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .partners__inner {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .partners__item {
    width: 31%;
    margin-bottom: 20px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
@media (max-width: 425px) {
  .partners {
    padding-bottom: 40px;
    padding-top: 40px;
  }
    .partners__item {
      width: 100%;
      margin-right: 0;
    }
}