.product {
  @include container;
  margin-bottom: 134px;
}

.product__header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 48px;
}

.product__title {
  float: left;
}

.product__more {
  float: right;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  position: relative;
  max-width: 363px;
  min-width: 300px;
  flex: 1 1 363px;
  margin-right: 25px;
  border-radius: 5px;
  border: 1px solid #cfedff;
  background-color: #ffffff;
  &:nth-child(3n) {
    margin-right: 0;
  }
  &:hover {
    .product__bottom {
      box-shadow: 0 0 29px rgba(223, 236, 247, 0.58);
    }
  }
}

.product__sticker {
  position: absolute;
  top: 13px;
  left: 20px;
  padding: 5px 14px;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  z-index: 2;
  &--popular {
    background-image: linear-gradient(to left, #ffe39b 0%, #ffd25e 100%);
  }
  &--novelty {
    background-image: linear-gradient(to right, #5385ee 0%, #6bbafd 100%);
  }
}

.product__top {
  position: relative;
  padding-top: 25px;
  text-align: center;
  &:hover {
    &::before {
      opacity: .72;
    }
    .product__icon {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.05);
    }
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    opacity: 0;
    transition: all .35s;
  }
}

.product__img {
  display: block;
  font-size: 0;
}

.product__bottom {
  padding: 25px 20px;
  padding-top: 20px;
  transition: all .35s;

  h3 {
    a {
      color: #637aa8;
      font-size: 19px;
      font-weight: 700;
      line-height: 1.21;
    }
  }
}

.product__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 12px;
}

.product__vendor {
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid #cfedff;
  color: #637aa8;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}

.product__price {
  position: relative;
  padding-top: 18px;
  color: #58af09;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
}

.product__old {
  position: absolute;
  top: 0;
  right: 0;
  color: #afbbd4;
  font-size: 17px;
  font-weight: 800;
  line-height: 21px;
}

.product__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__quick-order,
.product__buy {
  flex: none;
}

.product__quick-order {
  padding: 11px 24px;
  font-size: 13px;
}

.product__buy {
  display: flex;
  align-items: center;
  .icon-cart {
    margin-left: 0;
    margin-right: 7px;
  }
}

.product__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 51px;
  height: 51px;
  background-image: linear-gradient(to right, #0087fc 0%, #3fc7fe 100%);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(.5);
  opacity: 0;
  transition: all .35s;
  z-index: 10;
  svg {
    fill: #fff;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
  }
}