.reviews {
  position: relative;
  padding: 80px 54px 0 54px;
  text-align: center;
  overflow: hidden;
  &::before {
    content: '';
    position: absolute;
    top: 20%;
    right: 0;
    bottom: 70px;
    left: 0;
    background-image: linear-gradient(to left, #ffffff 0%, #ffd25e 100%);
    z-index: -2;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 81px;
    background-color: #fff;
    z-index: -1;
  }
  .slider-arrow {
    top: 50%;
    margin-top: -58px;
  }
  .slick-slide img {
    display: inline;
  }
}
.reviews__quote {
  position: absolute;
  top: 0;
  left: 0;
  width: 51px;
  height: 46px;
  transform: rotate(180deg);
  z-index: -1;
  svg {
    fill: #fff;
  }
}
.reviews__heart {
  position: absolute;
  filter: blur(5px);
  z-index: -1;
  &--big {
    top: 35%;
    left: 5%;
    transform: rotate(-20deg);
  }
  &--middle {
    top: 50%;
    left: 8%;
    transform: rotate(20deg);
  }
  &--small {
    bottom: 25%;
    right: 10%;
    transform: scale(.7) rotate(-40deg);
    opacity: .7;
  }
}

.reviews__title {
  margin-bottom: 30px;
}

.reviews__write {
  position: relative;
  margin-right: 22px;
}

.reviews__more {
  position: relative;
}

.reviews__post {
  position: relative;
  max-width: 770px;
  margin-right: auto;
  margin-left: auto;
  padding: 25px 10px 170px 10px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 81px;
    background-color: #fff;
  }
}

.reviews__text {
  margin-bottom: 20px;


  blockquote {
    padding-bottom: 20px;
    font-size: 19px;
    line-height: 1.57;
  }
}

.reviews__user {
  margin-bottom: 13px;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.78;
}

.reviews__bg-circle {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  font-size: 0;
  img {
    width: 100%;
  }
}

.reviews__photo {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 162px;
  height: 162px;
  line-height: 162px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0;
  border-radius: 50%;
  box-shadow: inset 0 0 0 12px #fffdf7,
  inset 0 0 0 24px #fff6e0,
  inset 0 0 0 36px #ffeab3;
  z-index: 10;
  img {
    border-radius: 50%;
    vertical-align: middle;
  }
}
@media (max-width: 768px) {
    .reviews {
      padding: 40px 23px 0 23px;
      &:before {
        top: 5%;
      }
    }
  .reviews__title {
    span {
      font-size: 27px;
    }
  }
  .reviews__text {
    blockquote {
      font-size: 17px;
    }
  }
  .reviews__post {
    position: relative;
    padding-top: 15px;
    z-index: 2;
  }
  .reviews__write {
    display: block;
    max-width: 188px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}