/* Main
-------------------------------------------------------------- */

body {
  font: 19px/1.4 'Lato', Arial serif;
  color: #637aa8;
}

*,
*::before,
*::after,
input {
  box-sizing: border-box;
}

a {
  color: #637aa8;
  text-decoration: none;
  transition: all .35s;
  &:hover {
    color: #637aa8;
  }
}

svg {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  padding: 14px 24px;
  border: none;
  border-radius: 24px;
  background-image: linear-gradient(to right, #5db40d 0%, #6dd220 100%);
  text-transform: uppercase;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: all .35s;
  &--border-green {
    background-image: none;
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #90ba34;
    font-size: 16px;
    color: #58af09;
    .icon-arrow svg {
      fill: #58af09;
    }
    &:hover {
      border-color: #008aff;
      color: #008aff;
      .icon-arrow svg {
        fill: #008aff;
      }
    }
  }
  &--arrow {
    &:hover {
      color: #008aff;
      .icon-arrow {
        transform: translateX(10px);
        svg {
          fill: #008aff;

        }
      }
    }
  }
  &--cart {
    position: relative;
    svg {
      fill: #008aff;
    }
    &:hover {
      color: #fff;
      .icon-cart {
        animation: joltingCart .8s ease-out;
      }
    }
    .icon-cart {
      z-index: 3;
    }
  }
  &--bg-green {
    -webkit-backface-visibility: hidden;
    z-index: 1;
    .btn__gradient-trs {
      position: relative;
      z-index: 3;
    }
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 24px;
      background-image: linear-gradient(to right, #5385ee 0%, #6bbafd 100%);
      transition: opacity 0.5s ease-out;
      z-index: 2;
      opacity: 0;
    }
    &:hover::before {
      opacity: 1;
    }
  }
}

.icon-arrow {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  vertical-align: text-top;
  transition: all .35s;

  svg {
    fill: #fff;
    transition: all .35s;
    transform: none;
    vertical-align: baseline;
  }
}

.title-gradient {
  position: relative;
  display: block;
  padding-bottom: 12px;
  font-family: 'Houschka Rounded Bold';
  color: #0038af;
  font-size: 32px;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 111px;
    height: 5px;
    background-image: url(./../img/title-line.svg);
    background-repeat: no-repeat;
  }
  &--left {
    &::before {
      background-position: center;
    }
  }
  &--center {
    &::before {
      background-position: left;
      left: 50%;
      margin-left: -55px;
    }
  }
}
@supports (-webkit-background-clip: text) {
.title-gradient {
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(20deg, #0038af 0%, #008aff 100%);
}
}
.icon-cart {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 21px;
  z-index: 3;
  svg {
    display: inline-block;
    fill: #ffffff;
  }
}

.slider-arrow {
  position: absolute;
  width: 116px;
  height: 116px;
  top: 30%;
  background-color: #e8f4fd;
  border: none;
  font-size: 0;
  cursor: pointer;
  z-index: 1;
  transition: all .35s ease-out;
  border-radius: 50%;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 23px;
    margin-top: -11px;
    background-repeat: no-repeat;
    transition: all .35s ease-out;
    z-index: 1;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: #cbecff;
    border-radius: 50%;
    transform: scale(0);
    transition: all .15s ease-out;
  }
  &--prev {
    left: -58px;
    &::before {
      margin-left: 10px;
      background-image: url(./../img/icon/arrow-back.svg);
      transform: rotate(-180deg);
    }
  }
  &--next {
    right: -58px;
    &::before {
      margin-left: -20px;
      background-image: url(./../img/icon/arrow-back.svg);
    }
  }
  &:hover {
    &::before {
      margin-right: 10px;
      background-image: url(./../img/icon/arrow-back-hover.svg);
    }
    &::after {
      transform: scale(1);
    }
  }
  &:hover {
    .ad-diapers__shares {
      opacity: 1;
      visibility: visible;
      transform: none;
    }
  }
  &--active {
    &::before {
      margin-right: 10px;
      background-image: url(./../img/icon/arrow-back-hover.svg);
    }
    &::after {
      transform: scale(1);
    }
  }
}

.semicircle-blue {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  font-size: 0;
  img {
    height: 100%;
    width: 100%;
  }
}

.wrapper-home {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
}

.to-top {
  position: absolute;
  right: 52px;
  bottom: -70px;
  width: 51px;
  height: 128px;
  border-radius: 25px;
  background-color: #ffd25e;
  transition: all .35s;
  z-index: 10;
  .icon-arrow {
    position: absolute;
    left: 50%;
    top: 23px;
    margin-left: -12px;
    transform: rotate(-90deg);
  }
  &:hover {
    background-color: #008aff;
    .icon-arrow {
      animation: down .7s infinite;
    }
  }
}

@keyframes down {
  0% {
    transform: translateY(0) rotate(-90deg);
  }
  50% {
    transform: translateY(-10px) rotate(-90deg);
  }
  100% {
    transform: translateY(0) rotate(-90deg);

  }
}

@media (max-width: 768px) {
  .btn {
    font-size: 14px;
  }
  .slider-arrow {
    width: 56px;
    height: 56px;
    &--next {
      right: -28px;
      &::before {
        margin-left: -15px;
      }
    }
    &--prev {
      left: -28px;
      &::before {
        margin-left: 5px;
      }
    }
    &::before {
      width: 10px;
      height: 16px;
      margin-top: -8px;
    }
  }
  .to-top {
    right: 15px;
  }
}